body{
font-family: Arial;
background:#linear-gradient(to right, #fceabb, #f8b500);
color:white;
text-align:center;
margin:0;
padding:20px;
}

h1{
margin-bottom:20px;
}

.main{
display:flex;
justify-content:center;
gap:20px;
}

.card{
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
text-align:left;
}

input{
width:70%;
padding:6px;
margin-top:5px;
}

button{
padding:6px 12px;
background:#ff7a45;
border:none;
color:white;
cursor:pointer;
}

table{
width:100%;
margin-top:10px;
}

td{
padding:5px;
border-bottom:1px solid #ddd;
}

.console{
margin-top:20px;
background:white;
color:black;
padding:15px;
border-radius:10px;
width:640px;
margin-left:auto;
margin-right:auto;
}

#logBox{
background:#52280d;
color:#00ff9d;
padding:10px;
height:100px;
overflow:auto;
}
